/* body */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(
    to bottom, 
    #8f5e77 5%,
    #523644 5%,
    #422c37 100%
  )
}

/* end body */


/* nav */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #dae7d4;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family:'Courier New', Courier, monospace;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #523644;
  /* opacity: 95%; */
  color: #dae7d4;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* end nav */


/* top third */

.top-third {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-text {
  color: #dae7d4;
  font-size: 3rem;
  margin-bottom: 0;
}

.title {
  font-family: fantasy;
  font-size: 28px;
  color: #FF7518;
  animation: color-change 2s infinite;
}

/* end top third */

.highlight-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  margin-top: .5rem;
}

.bottom-two-thirds {
  margin: 2rem;
}


@keyframes color-change {
  0% { color: #FF7518; }
  20% { color: #be3403; }
  40% { color: #8e2702; }
  60% { color: #5f1a01; }
  70% { color: #8e2702; }
  80% { color: #be3403; }
  100% { color: #FF7518;}
}


.main-text-info {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center
}


/* social links */

#social-links-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 3px;
  color: #FF7518;
  padding: .5rem;
  text-decoration: none;
  margin-right: .5rem;
}

.social-link:hover {
  background-color: black;
}

/* end social links */

/* project links */

#projects {
  margin-top: 4rem;
}

.section-title {
  font-weight: 100;
  font-size: 1.25rem;
  color: #dae7d4;
}

.project-link {
  font-family: serif, sans-serif;
  font-weight: 200; 
  font-size: 1.25rem;
  color: #dae7d4;
  padding: .25rem;
  text-decoration: none;
  background-color: #000; 
  border-radius: 3px;

  &:hover {
    color: #ff7518;
  }
}

.project-description {
  margin-left: .5rem;
}

.project-item {
  margin-bottom: 5%;
}

.project-title {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: #fff;
}

/* end project links */


/* grid */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-item {
  width: 80%;
}

.card {
  border: 1px solid #dae7d4;
  border-radius: 4px;
  padding: 1rem;
}

/* end grid */


/* footer */

.footer {
position: absolute;
  padding: .25rem;
  bottom: 0px;
  width: 100%;
  float: right;
  background: #dae7d4;
}

.footer-text {
  color: #FF7518;
  font-size: 12px;
  font-family:'Courier New', Courier, monospace;
}

/* end footer */

/* utility */
.marg-top-4 {
  margin-top: 4rem;
}

/* text styling */

.text-white {
  color: #fff;
}

.text-small {
  font-size: 14px;
}

.link-styling-white {
  color: #fff;
}

/* end text styling */

/* end utlity */